h1 {
  color: #27a39d;
  text-align:center;
}

p {
  font-family: sans-serif;
}

p.sad {
  color: blue;
}

.dark-mode {
  background-color: black;
}

.dark-mode p {
  color: white;
}

.light-mode {
  background-color: white;
}

.light-mode p {
  color: black;
}